<html>
  <head><title>Web Guesser</title></head>
  <body>
    <p>
      The SECRET NUMBER is...<%= SECRET_NUMBER %>
    </p>
    <p>But your guess was... <%= params["guess"] %></p>
    <form>
  		<input type='text' name='guess' />
  		<input type='submit' value='Guess!' />
    </form>
    <p>
	<%= message %>	 
    </p>
  </body>
</html>
